button {
    color: green;
    background-color:;
}

h1 {
    color: #FDD835;
    background-color: #263238;
    font-family: 'Bowlby One SC', cursive;
    
}


p {
    background-color: #263238;
    font-family: 'Neucha', cursive;
    font-size:150%;
color:yellow;
}

#album {
    
    height: 280px;
    width: 400px;
    margin-left: 60px;
background-color: gold;
color:black;
    
}

body {
    background-color: #263238;
}

